/* .container-fluid{
  text-align: center;
} */
.card{
  position: relative !important;
  padding-bottom: 0;
  cursor: pointer;
  margin: .3rem;
  text-align: right !important;
}
a{
  text-decoration: none;
  color: #131313;
}

/*.map-text:hover{
  display: block;
} */
.map,.heart{
  background-color: #e2e2e2;
  padding:0.5% 1%;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.map{
  position: absolute;
  top: 10px;
  left: 13%;
  color: #ff8000;
}
.map :hover+ span{
  display: inline !important;
  opacity: 1 !important;
}
.heart{
  position: absolute;
  top: 10px;
  left: 3%;
  color: #ff8000;
}
.heart:hover{
 &.map{
  color: #131313;
 }
}
.name{
  margin: -.9rem 0 -.3rem 0 ;
  font-size: 1rem;
  color: #131313;
  font-weight: bolder;
  padding: 0;
}
small{
  font-size: .7rem;
  color: #4b4b4b;
  font-weight: bold;
}
.capacity{
  margin-top: .5rem;
}
.room{
  padding:0 .3rem ;
  margin: .2rem;
  border-radius: 20%;
  background-color  : #e2e2e2 ;
  position: relative;
  color: #4b4b4b;
}
.room-text{
  position: absolute;
  top: -2px;
  right: 2px;
  color: #ff8000;
}
.v-line{
  margin: .2rem;
  border-right: #e2e2e2 solid .01rem;
height: 50%;

}
.price{
  margin: 1.1rem 0 -.5rem 0;
}
.price .price-text{
  color: #131313;
  font-weight: bold!important;
  font-size: large;
}
.price .unitType{
  color: #131313;
  font-weight: bold!important;
  font-size: small;
}

::ng-deep{
.pagination-next{
  display: none !important;
}
li .current{
  background-color: #ff8000 !important;
}
.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #e88621 !important;
  color: #fefefe;
  cursor: default;
}

}

/* ///////////////////////// */
.buildinfo{

  position: relative;
  bottom: 28%;
  color: white;
  margin: 3%;
  background-color: #00000099;
  border-radius: 17px;
  padding: 20px;
  font-size: 20px;

}
.buildinfo:hover{
  translate: 0px 10px;
}
legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: -2.5rem !important;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}
